@font-face {
  font-family: classicWindows;
  src: url(./ms-sans-serif.otf);
}

:root {
  --background-color: #008080;
  --text-color-dark: #000;
  --text-color-light: #fff;

  --taskbar-color: #d9d9d9;
  --title-background-color: #000080;
}

p {
  font-family: "classicWindows", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --fps: 15;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
  overflow: hidden;
}

main{
    width: 100vw;
    height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  z-index: 10;

  display: flex;
  flex-direction: row;

  padding: 0.5rem;
  height: 3rem;
  width: 100vw;

  background-color: var(--taskbar-color);
}

button {
  border: none;
  background-color: transparent;
  height: min-content;
}

button:active {
  transform: translateY(1px);
}

.view {
  position: absolute;
  top: 10%;
  left: 10%;

  z-index: 1;
  background-color: var(--taskbar-color);

  display: none;
}

.title {
  background-color: var(--title-background-color);
  color: var(--text-color-light);
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  gap: 3em;
  font-size: 0.6rem;
}

.fileName {
  color: white;
  background-color: transparent;
}

.buttonContainer {
  margin-bottom: -0.25rem;
  display: flex;
  align-items: center;
}

.dataContainer {
  margin: 0.5em;
  padding: 0.5em;
  background-color: var(--text-color-dark);
  color: var(--text-color-light);
  height: 50vh;
  width: 50vw;
  overflow: scroll;
  color: white;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5em;
  width: 5em;
  margin: 1em;

  position: absolute;
  left: 0;
  top: 0;
  padding: 0.2em;
}

.imgContainer:before {
  content: "";
  display: block;
  height: 1em;
  width: 1em;
  background-size: contain;
  background-image: url(../assets/arrow.png);
  position: absolute;
  bottom: 0.2em;
  left: 0;
}

.avatar {
  height: 100%;
}

pre {
  overflow: scroll;
}

.fullScreen {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.active {
  background-color: #00007b;
  border:  dashed 1px white;
  color: white;
}

.active p {
  background-color: #00007b;
  border:  dashed 1px white;
  color: white;
}

.activeText {
  background-color: #00007b;
  color: white;
}