:root{
    --background-color: #008080;    
    --text-color-dark: #000;
    --text-color-light: #fff;


    --taskbar-color: #D9D9D9;
    --title-background-color: #000080;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100vh;
}

footer{
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: row;

    padding: .5rem;
    height: 3rem;
    width: 100vw;

    background-color: var(--taskbar-color);
}

button{
    border: none;
    background-color: transparent;
    height: min-content;

}

button:active{
    transform: translateY(1px);
}

.view{
    background-color: var(--taskbar-color);
    width: min-content;
    height: min-content;
    margin: 3em;
    padding-bottom: .5em;
    display: none;
}

.title{
    background-color: var(--title-background-color);
    color: var(--text-color-light);
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    gap: 3em;
    font-size: .6rem;
}

.buttonContainer{
    margin-bottom: -.25rem;
    display: flex;
    align-items: center;
}

.dataContainer{
    margin: .5em .5em 0 .5em;
    padding: .5em;
    background-color: var(--text-color-dark);
    color: var(--text-color-light);
}